<h1 class="text-2xl font-bold">Event: {{eventInfo.name}}</h1>

<!-- Request a Song Button -->
<div class="mt-4 text-center">
  <a href="/requests/{{eventInfo.id}}" class="inline-block bg-custom-charcoal hover:bg-custom-green hover:no-underline text-white font-bold py-2 px-4 rounded-full transition-colors cursor-pointer">
    Request a Song
  </a>
  {{#if (eq eventInfo.user_id userId)}}
    <button update-event-id="{{eventInfo.id}}" class="inline-block bg-custom-charcoal hover:bg-custom-green hover:no-underline text-white font-bold py-2 px-4 rounded-full transition-colors cursor-pointer update-event">
    Update Event</button>
    <button delete-event-id="{{eventInfo.id}}" class="inline-block bg-custom-charcoal hover:bg-custom-green hover:no-underline text-white font-bold py-2 px-4 rounded-full transition-colors cursor-pointer delete-event">
    Delete Event</button>

    {{!-- <script src="/js/update-event.js"></script> --}}
  {{/if}}
</div>

{{#each songInfo as |song|}}
  <div class="border-2 border-custom-green p-4 rounded-md transition-all hover:shadow-md m-2">
    <header class="text-xl font-bold text-custom-charcoal">{{song.title}}</header>
    <p class="text-base">{{song.artist}}</p>
    <p class="text-base flex items-center text-custom-green">Requested by: {{song.user.username}}</p>
    <p>Votes: {{song.upvoteCount}}</p>
    <a href="#">upvote (still need to write this code)</a>
  </div>
{{/each}}

<script src="/js/delete-event.js"></script>