<h2 class="text-4xl font-bold text-custom-charcoal">Events</h2>

{{#if events.length}}
{{#each events as |event|}}
  <a href="/events/{{event.id}}" class="hover:no-underline">
    <div
      class="border-2 border-custom-green p-4 rounded-md transition-all cursor-pointer hover:shadow-md mt-4"
    >
      <header
        class="text-xl font-bold text-custom-charcoal"
      >{{event.name}}</header>
      <p class="text-base">{{event.formattedDate}}</p>
      <p class="text-base flex items-center text-custom-green"><span
          class="material-symbols-outlined text-custom-brown"
        >
          headphones
        </span>{{event.user.username}}</p>

      <p
        class="mt-4 border-t-2 border-custom-mandalay pt-2 text-base"
      >{{event.description}}</p>
    </div>
  </a>
{{/each}}
{{else}}
<p>PLACEHOLDER</p>
{{/if}}