<h2 class="text-4xl font-bold text-custom-charcoal">Events</h2>

{{#each events as |event|}}
  <a href="/events/{{event.id}}" class="hover:no-underline">
    <div
      class="border-2 border-custom-green p-4 rounded-md transition-all cursor-pointer hover:shadow-md mt-4"
    >
      <header
        class="text-xl font-bold text-custom-charcoal"
      >{{event.name}}</header>
      <p class="text-base">{{event.date}}</p>
      <p class="text-base flex items-center text-custom-green"><span
          class="material-symbols-outlined text-custom-brown"
        >
          headphones
        </span>{{event.user.username}}</p>

      <p
        class="mt-4 border-t-2 border-custom-mandalay pt-2 text-base"
      >{{event.description}}</p>
    </div>
  </a>
  {{#if (eq this.user_id ../userId)}}
   <button class="delete-event" delete-event-id="{{event.id}}" class="flex items-center gap-1 transition-all"><span
    class="material-symbols-outlined text-custom-brown">
    delete
  </span>Delete Event</button>
{{/if}}
{{/each}}
<script src="/js/delete-event.js"></script>